<a href="{{ params.path }}/{{ params.file }}">
  <img src="{{ params.path | replace('images', 'image/480') }}/{{ file }}" srcset="{{ params.path | replace('images', 'image/480') }}/{{ params.file }} 480w, {{ params.path | replace('images', 'image/960') }}/{{ params.file }} 960w" alt="{{ params.alt }}">
</a>
