{%- from "../site-search/macro.njk" import appSiteSearch -%}
<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="{{ params.homepageUrl | default("/") | url }}" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          {% if params.organisationLogo == "crown" %}
            {% include "./_crown.svg" %}
          {% elif params.organisationLogo == "royal-arms" %}
            {% include "./_royal-arms.svg" %}
          {% elif params.organisationLogo == "x-govuk" %}
            {% include "./_x-govuk.svg" %}
          {% elif params.organisationLogo %}
            {{ params.organisationLogo | safe }}
          {% endif %}
          <span class="govuk-header__logotype-text">
            {{ params.organisationName | default("GOV.UK") }}
          </span>
        </span>
        {% if params.productName %}
        <span class="govuk-header__product-name">
          {{ params.productName }}
        </span>
        {% endif %}
      </a>
    </div>
    {{ appSiteSearch(params.search) if params.search.indexPath | indent(4) }}
  </div>
</header>
