{%- from "../site-search/macro.njk" import appSiteSearch -%}
{%- if options.navigation -%}
  {%- set headerClasses = " govuk-header--full-width-border" -%}
{% elif layout == "product" or layout == "collection" %}
  {%- set headerClasses = " app-header--no-border" -%}
{%- endif -%}
<header class="govuk-header app-header{{ headerClasses }}" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="{{ params.homepageUrl | default("/") }}" class="govuk-header__link govuk-header__link--homepage">
        {% if params.logotype == "x-govuk" %}
          {% include "./_x-govuk.svg" %}
        {% elif params.logotype.html %}
          {{ params.logotype.html }}
        {% elif params.logotype.text %}
          <span class="app-header__logotype">{{ params.logotype.text }}</span>
        {% else %}
          {% include "./_govuk.svg" %}
        {% endif %}
        {% if params.productName %}
        <span class="govuk-header__product-name">
          {{ params.productName }}
        </span>
        {% endif %}
      </a>
    </div>
    {{ appSiteSearch(params.search) if params.search.indexPath | indent(4) }}
  </div>
</header>
