{% extends "product.njk" %}

{% from "document-list/macro.njk" import appDocumentList %}
{% from "prose/macro.njk" import appProse %}
{% from "related/macro.njk" import appRelated %}

{% block main %}
  {% call appMasthead({
    title: {
      classes: "govuk-heading-l",
      html: title
    } if title,
    description: {
      html: description | markdown
    } if description,
    startButton: startButton if startButton,
    image: image if image
  }) %}{% block pageNavigation %}{{ govukBreadcrumbs({
    classes: "app-breadcrumbs--inverted",
    items: [{
      text: app.serviceName or app.productName,
      href: "/"
    }, {
      text: tags[0] | case,
      href: "/" + tags[0]
    }, {
      text: title,
      href: page.url
    }]
  }) if breadcrumbs != false }}{% endblock %}{% endcall %}

  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}
      {{ appProse({
        prose: content
      }) }}
      <div class="govuk-grid-row">
        <section class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-font-size-27">Posts</h2>
          {{ appDocumentList({
            items: collections[collection] | reverse
          })}}
        </section>

        {% if related %}
        <div class="govuk-grid-column-one-third">
          {{ appRelated({
            title: related.title or "Related links",
            items: related.items
          }) }}
        </div>
        {% endif %}
      </div>
    {% endblock %}
    </main>
  </div>
{% endblock %}
