{% extends "base.njk" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<article class="app-content">
  <header class="app-content__header">
    {% if caption %}<span class="govuk-caption-xl">{{ caption }}</span>{% endif %}
    <h1 class="govuk-heading-xl">{{ title }}</h1>
  </header>
  <div class="app-prose-scope">
    {{ content | safe }}
  </div>
</article>
{% endblock %}
