{% extends "base.njk" %}

{% from "article/macro.njk" import appArticle %}
{% from "prose/macro.njk" import appProse %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: breadcrumbs | breadcrumbs(app, page, title)
  }) if breadcrumbs != false }}
{% endblock %}

{% block content %}
  {% call appArticle({
    header: {
      title: title,
      description: description
    }
  }) %}
  {{ appProse({
    prose: content
  }) }}
  {% endcall %}
{% endblock %}
