{% extends "base.njk" %}

{% from "masthead/macro.njk" import appMasthead %}
{% from "prose/macro.njk" import appProse %}

{% block main %}
  {% call appMasthead({
    title: {
      classes: "govuk-heading-xl",
      html: title
    } if title,
    description: {
      html: description | markdown
    } if description,
    startButton: startButton if startButton,
    image: image if image
  }) %}
    {{ govukBreadcrumbs({
      classes: "app-breadcrumbs--inverted",
      items: breadcrumbs | breadcrumbs(app, page, title)
    }) if breadcrumbs != false }}
  {% endcall %}

  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}
      {{ appProse({
        prose: content
      }) }}
    {% endblock %}
    </main>
  </div>
{% endblock %}
