<aside class="app-related{%- if params.classes %} {{ params.classes }}{% endif %}" role="complementary">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="{{ params.name }}-title">{{ params.title }}</h2>
  {% if params.content.html or params.content.text %}
  <div class="govuk-body-s">
    {{ params.content.html | safe if params.content.html else params.content.text }}
  </div>
  {% endif %}
  <nav role="navigation" aria-labelledby="{{ params.name }}-title">
    <ul class="app-related__list">
    {% for item in params.items %}
      <li class="app-related__list-item">
        <h3 class="app-related__list-item-title">
          <a class="govuk-link" href="{{ item.href }}">{{ item.text }}</a>
        </h3>
        {% if item.description %}
        <p class="app-related__list-item-description">{{ item.description | markdown("inline") | safe }}</p>
        {% endif %}
      </li>
    {% endfor %}
    {% if params.more %}
      <li>
        <a href="{{ params.more.href }}" class="govuk-link govuk-!-font-weight-bold">More <span class="govuk-visually-hidden">in {{ params.title }}</span></a>
      </li>
    {% endif %}
    </ul>
  </nav>
</aside>
