{%- from "../document-footer/macro.njk" import appDocumentFooter -%}
{%- from "../document-header/macro.njk" import appDocumentHeader -%}
{%- from "../prose-scope/macro.njk" import appProseScope -%}
{{ appDocumentHeader(params.header) if params.header }}
{% call appProseScope() %}
  {% if params.image -%}
    <figure>
      <img src="{{ params.image.src }}" alt="{{ params.image.alt }}">
      {% if params.image.caption -%}
      <figcaption>{{ params.image.caption }}</figcaption>
      {% endif -%}
    </figure>
  {%- endif %}
  {{- caller() if caller -}}
{% endcall %}
{{ appDocumentFooter(params.footer) if params.footer }}
