{% if params.items.length > 0 %}
  <ol class="app-document-list{%- if params.classes %} {{ params.classes }}{% endif %}">
  {% for item in params.items %}
    <li class="app-document-list__item">
      <h2 class="app-document-list__item-title">
        <a class="govuk-link" href="{{ item.url | url | pretty }}">{{ item.data.title }}</a>
      </h2>
      {% if item.data.description %}
      <p class="app-document-list__item-description">{{ item.data.description | markdown("inline") | safe }}</p>
      {% endif %}
      {% if item.date %}
      <ul class="app-document-list__item-metadata">
        <li class="app-document-list__attribute">
          <time datetime="{{ item.date | date }}">{{ item.date | date("d LLLL y") }}</time>
        </li>
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ol>
{% else %}
  <p class="govuk-body">No documents found.</p>
{% endif %}
