<article class="app-article">
  {% if params.header %}
  <header class="app-article__header govuk-!-width-two-thirds">
    <h1 class="app-article__title govuk-heading-xl">{{ params.header.title }}</h1>
  </header>
  {% endif %}

  <div class="app-article__body">
{{- caller() if caller -}}
  </div>

  {% if params.footer %}
  <footer class="app-article__footer">
    {% if params.footer.date %}
      Published <time datetime="{{ params.footer.date | date }}">{{ params.footer.date | date("d LLLL y") }}</time><br>
    {% endif %}
    {% if params.footer.modified %}
      Last updated <time datetime="{{ params.footer.modified | date }}">{{ params.footer.modified | date("d LLLL y") }}</time>
    {% endif %}
  </footer>
  {% endif %}
</article>
