.app-gallery {
  @extend %govuk-list;
}

.app-gallery--layout-thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: govuk-spacing(6);
}

.app-gallery__figure {
  @include govuk-responsive-margin(2, "bottom");

  a {
    display: block;
    min-height: 12rem;
  }

  img {
    max-height: 12rem;
    object-fit: cover;
    object-position: top;
  }
}
