@use "govuk-frontend/dist/govuk" as *;

@include govuk-exports("govuk-eleventy-plugin/component/aside") {
  .app-aside {
    border-top: 2px solid $govuk-brand-colour;

    @include govuk-responsive-margin(6, "bottom");
    @include govuk-text-colour;
  }

  .app-aside__heading {
    margin-bottom: govuk-spacing(2);
    margin-top: govuk-spacing(3);

    @include govuk-font(19, $weight: bold);
  }

  .app-aside__body {
    > * {
      @include govuk-font(16);
    }
  }
}
