<ul class="app-gallery{% if params.layout != false %} app-gallery--layout-{{ params.layout or "thumbnails" }}{% endif %}">
{%- for item in params.items %}
  {%- set id = item.id or (item.text | slug) -%}
  {%- set file = item.src or (id + ".png") -%}
  {%- set alt = item.alt or ("Screenshot of " + item.text) -%}
  <li class="app-gallery__item" id="{{ id }}">
    <figure>
      <a href="{{ file }}"><img src="{{ file }}" alt="{{ alt }}"></a>
      {%- if item.caption or item.text %}
        <figcaption>{{ item.caption or item.text | markdown | safe }}</figcaption>
      {%- endif %}
    </figure>
  </li>
{%- endfor %}
</ul>
