<div class="app-site-search govuk-!-display-none-print" data-module="app-search" data-search-index="{{ params.searchIndex }}">
  <label class="govuk-visually-hidden" for="app-site-search__input">{{ params.label }}</label>
  <a class="app-site-search__link govuk-link-no-visited" href="/sitemap">Sitemap</a>
</div>
