@use "govuk-frontend/dist/govuk" as *;

@include govuk-exports("govuk-eleventy-plugin/component/document-header") {
  .app-document-header__metadata {
    color: $govuk-secondary-text-colour;
    max-width: 45em;

    @include govuk-font($size: 16, $line-height: 1.5);
  }

  .app-document-header > .govuk-body-l {
    max-width: 30em;
  }
}
