{% from "components/heading/macro.njk" import appHeading %}

<header class="app-document-header">
  {{ appHeading({
    caption: params.caption,
    title: params.title,
    description: params.description
  }) | indent(2) }}
</header>

