<div class="app-site-search govuk-!-display-none-print" data-module="app-site-search" data-search-index="{{ params.indexPath | url }}">
  <label class="govuk-visually-hidden" for="app-site-search__input">{{ params.label | default("Search site") }}</label>
  <a class="app-site-search__link govuk-link-no-visited" href="{{ params.sitemapPath | url }}">Sitemap</a>
</div>
