<site-search class="app-site-search govuk-!-display-none-print" index="{{ params.indexPath | canonicalUrl }}" label="{{ params.label | default("Search site") }}">
{%- if params.sitemapPath -%}
  <a class="app-site-search__link" href="{{ params.sitemapPath }}">Sitemap</a>
{%- endif -%}
</site-search>
