.app-article__description {
  color: $govuk-secondary-text-colour;
  margin: 0 0 govuk-spacing(2);
}

.app-article__body {
  @include govuk-responsive-margin(8, "bottom");

  > *:last-child {
    margin-bottom: 0;
  }
}

.app-article__footer {
  @include govuk-font($size: 16, $line-height: 1.5);
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(2);

  @include govuk-media-query($from: "tablet") {
    max-width: 66%;
  }
}
