{%- set level = params.level or 1 -%}
{%- set size = params.size or "xl" -%}
{%- if params.caption -%}
<span class="govuk-caption-{{ size }}">
  {{- params.caption | smart -}}
</span>
{%- endif -%}
<h{{level}} class="govuk-heading-{{ size }}{%- if params.classes %} {{ params.classes }}{% endif %}">
  {{- params.title | smart | safe -}}
</h{{level}}>
{%- if params.description -%}
<p class="govuk-body-l">
  {{- params.description | markdown("inline") | noOrphans | safe -}}
</p>
{%- endif -%}
