$govuk-font-family: system-ui, sans-serif;
$govuk-brand-colour: #2288aa;
$govuk-link-colour: #006688;
$govuk-link-hover-colour: #004466;
$govuk-link-visited-colour: #333366;
$govuk-page-width: 1100px;
$govuk-new-typography-scale: true;
