.app-related {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(3);
}

.app-related__body {
  @include govuk-font(16);
}

.app-related__list {
  @extend %govuk-list;
}

.app-related__list-item {
  @include govuk-font(16);
  margin-top: govuk-spacing(3);
}

.app-related__list-item-title {
  @include govuk-font(16);
  margin: 0 0 govuk-spacing(1);
}

.app-related__list-item-description {
  margin: 0 0 govuk-spacing(1);
}
