.app-definition-list {
  dt {
    @include govuk-font($size: 19, $weight: bold);
    margin-bottom: govuk-spacing(1);
  }

  dd + dt {
    margin-top: govuk-spacing(4);
  }

  dd {
    @include govuk-font($size: 19);
    margin-left: govuk-spacing(5);
  }
}
