{% extends "govuk/template.njk" %}

{% set assetUrl = assetPath | canonicalUrl %}
{% set themeColor = options.themeColour %}

{# Set the opengraphImageUrl in parent template to either the one
   from the page metadata or else fallback to the generic one from options. #}
{% set opengraphImage = image if image.opengraphImage else opengraphImage %}
{% set opengraphImageUrl = (opengraphImage.src | canonicalUrl) if opengraphImage else options.opengraphImageUrl %}

{# Pagination #}
{% set pageNumber = pagination.pageNumber + 1 %}
{% set pageCount = pagination.pages | length %}

{# Navigation #}
{% set breadcrumbItems = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: includeInBreadcrumbs }) | itemsFromNavigation(page.url, options) if eleventyNavigation.key %}
{% set minimumItemsInBreadcrumbs = 0 %}
{% set minimumItemsInBreadcrumbs = 1 if options.parentSite %}
{% set showBreadcrumbs = options.showBreadcrumbs != false and breadcrumbItems | length > minimumItemsInBreadcrumbs %}

{# Components #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% from "x-govuk/components/masthead/macro.njk" import xGovukMasthead %}
{% from "x-govuk/components/related-navigation/macro.njk" import xGovukRelatedNavigation %}
{% from "x-govuk/components/sub-navigation/macro.njk" import xGovukSubNavigation %}

{% from "components/aside/macro.njk" import appAside %}
{% from "components/document-header/macro.njk" import appDocumentHeader %}
{% from "components/document-list/macro.njk" import appDocumentList %}
{% from "components/footer/macro.njk" import appFooter %}
{% from "components/header/macro.njk" import appHeader with context %}
{% from "components/prose-scope/macro.njk" import appProseScope %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ options.icons.shortcut }}" type="image/x-icon">
  <link rel="mask-icon" href="{{ options.icons.mask }}" color="{{ themeColor }}">
  <link rel="apple-touch-icon" href="{{ options.icons.touch }}">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ "/assets/govuk.css" | canonicalUrl }}">
  {% for stylesheet in options.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | canonicalUrl }}">
  {% endfor %}

  {% if options.feedUrl %}<link rel="alternate" type="application/atom+xml" href="{{ options.feedUrl | canonicalUrl }}" >{% endif %}

  {% if options.url %}<meta property="og:url" content="{{ page.url | canonicalUrl }}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
  {% if opengraphImage %}<meta name="twitter:card" content="summary_large_image">{% endif %}
  {% if opengraphImage.src %}<meta name="twitter:image" content="{{ opengraphImage.src | canonicalUrl }}">
  {% endif %}
  {% if opengraphImage.alt %}<meta property="og:image:alt" content="{{ opengraphImage.alt }}">{% endif %}
{% endblock %}

{% block pageTitle %}
  {{- title if title -}}
  {{- " (page " + pageNumber + " of " + pageCount + ")" if pageCount > 1 -}}
  {{- " - " + options.titleSuffix if options.titleSuffix -}}
{% endblock %}

{% block header %}
  {{ appHeader(options.header) }}
  {{ govukServiceNavigation({
    navigationLabel: options.navigation.visuallyHiddenTitle,
    navigation: options.navigation.items | currentPage(page.url)
  }) if options.navigation }}
{% endblock %}

{% block footer %}
  {{ appFooter(options.footer) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk.js" type="module"></script>
  {% block scripts %}{% endblock %}
{% endblock %}
