{% extends "layouts/product.njk" %}

{% block main %}
  {{ xGovukMasthead({
    title: {
      html: title
    } if title,
    description: {
      html: description | markdown("inline") | noOrphans
    } if description,
    breadcrumbs: {
      classes: "govuk-!-display-none-print govuk-!-margin-bottom-0",
      items: breadcrumbItems
    } if showBreadcrumbs
  }) }}

  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}
      <div class="govuk-grid-row">
        <section class="govuk-grid-column-two-thirds">
          {{ content }}
          <h2 class="govuk-heading-l govuk-!-font-size-27">
            {{ collection or "Posts" }}
          </h2>
          {{ appDocumentList({
            classes: "app-document-list--large",
            items: pagination.items
          }) }}
          {{ appPagination({
            previous: {
              text: "Previous",
              href: pagination.href.previous
            } if pagination.href.previous,
            next: {
              text: 'Next',
              href: pagination.href.next
            } if pagination.href.next,
            selected: pagination.pageNumber,
            items: pagination.hrefs
          }) }}
        </section>

        {% if related.sections[0].items | length > 0 %}
        <div class="govuk-grid-column-one-third">
          {{ xGovukRelatedNavigation(related) }}
        </div>
        {% endif %}
      </div>
    {% endblock %}
    </main>
  </div>
{% endblock %}
