{% extends "layouts/base.njk" %}

{% block beforeContent %}
  <nav>
    {{ govukBreadcrumbs({
      classes: "govuk-!-display-none-print",
      items: breadcrumbItems
    }) if showBreadcrumbs }}
  </nav>
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  {% include "layouts/shared/related.njk" %}
{% endblock %}
