{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call appArticle({
        header: {
          title: title
        },
        footer: {
          date: date,
          modified: modified,
          author: author,
          authors: authors
        },
        image: image
      }) %}
        {{ content }}
      {% endcall %}
    </div>

    {#- Related items may contain many sections or none -#}
    {%- set sections = related.sections or [related] -%}
    {% if related.sections or related.items | length > 0 %}
    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: sections
      }) }}
    </div>
    {% endif %}
  </div>
{% endblock %}
