{% extends "layouts/base.njk" %}

{% block main %}
  {{ xGovukMasthead({
    classes: "x-govuk-masthead--large",
    title: {
      html: title | smart
    } if title,
    description: {
      html: description | markdown("inline") | noOrphans
    } if description,
    startButton: {
      href: startButton.href | url,
      text: startButton.text
    } if startButton,
    image: {
      alt: image.alt,
      src: image.src | url
    } if image,
    breadcrumbs: {
      classes: "govuk-!-display-none-print govuk-!-margin-bottom-0",
      items: breadcrumbItems
    } if showBreadcrumbs
  }) }}

  {{ super() }}
{% endblock %}

{% block content %}
  {{ appProseScope(content) if content }}

  {% include "layouts/shared/related.njk" %}
{% endblock %}
