{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {{ xGovukSideNavigation({
        items: collections.ordered | eleventyNavigation(options.homeKey) | itemsFromNavigation(page.url, { pathPrefix: options.pathPrefix })
      }) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% call appArticle({
        header: {
          title: title,
          description: description
        }
      }) %}
        {{ content }}
      {% endcall %}

      {#- Related items may contain many sections or none -#}
      {%- set sections = related.sections or [related] -%}
      {{ xGovukRelatedNavigation({
        sections: sections
      }) if related.sections or related.items | length > 0 }}
    </div>
  </div>
{% endblock %}
