{%- macro _authorLink(author) -%}
  {%- if author.url -%}
    <a class="govuk-link" href="{{ author.url }}">{{ author.name }}</a>
  {%- else -%}
    {{- author.name or author -}}
  {%- endif -%}
{% endmacro -%}

<dl class="app-metadata">
  {% if params.author %}
  <div class="app-metadata__item">
    <dt class="app-metadata__term">Posted by</dt>
    <dd class="app-metadata__definition">
    {%- if params.author is string or params.author is mapping -%}
      {{- _authorLink(params.author) -}}
    {%- else -%}
      {%- for author in params.author -%}
        {{- " and " if loop.last and loop.length > 1 else (", " if not loop.first) -}}
        {{- _authorLink(author) -}}
      {%- endfor -%}
    {%- endif -%}
    </dd>
  </div>
  {% endif %}
  {% if params.date %}
  <div class="app-metadata__item">
    <dt class="app-metadata__term">Published</dt>
    <dd class="app-metadata__definition">
      <time datetime="{{ params.date | isoDate }}">{{ params.date | govukDate }}</time>
    </dd>
  </div>
  {% endif %}
  {% if params.modified %}
  <div class="app-metadata__item">
    <dt class="app-metadata__term">Last updated</dt>
    <dd class="app-metadata__definition">
      <time datetime="{{ params.modified | isoDate }}">{{ params.modified | govukDate }}</time>
    </dd>
  </div>
  {% endif %}
  {% if params.tags | length > 0 %}
  <div class="app-metadata__item">
    <dt class="app-metadata__term">Tagged</dt>
    <dd class="app-metadata__definition">{% for tag in params.tags -%}
      <a href="/tags/{{ tag | slug }}" class="govuk-link">{{ tag }}</a>
      {%- if not loop.last %}, {% endif -%}
    {%- endfor %}</dd>
  </div>
  {% endif %}
</dl>
