{% extends "govuk/template.njk" %}

{% set htmlClasses = "no-js" %}

{# Pagination #}
{% set pageNumber = pagination.pageNumber + 1 %}
{% set pageCount = pagination.pages | length %}

{# Navigation #}
{% set breadcrumbItems = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: includeInBreadcrumbs }) | itemsFromNavigation(page.url, config) if eleventyNavigation.key %}
{% set showBreadcrumbs = breadcrumbItems | length > 1 %}

{# Components #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% from "x-govuk/components/masthead/macro.njk" import xGovukMasthead %}
{% from "x-govuk/components/related-navigation/macro.njk" import xGovukRelatedNavigation %}
{% from "x-govuk/components/side-navigation/macro.njk" import xGovukSideNavigation %}

{% from "app/components/article/macro.njk" import appArticle %}
{% from "app/components/document-list/macro.njk" import appDocumentList %}
{% from "app/components/footer/macro.njk" import appFooter %}
{% from "app/components/header/macro.njk" import appHeader %}
{% from "app/components/pagination/macro.njk" import appPagination %}

{% block head %}
  <link rel="stylesheet" href="{{ '/assets/govuk.css' | url }}">
  {% for stylesheet in config.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | url }}">
  {% endfor %}

  <meta property="og:url" content="{{ config.url | url | absoluteUrl(config.url) }}">
  <meta property="og:title" content="{{ title }}">
  {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
  {% if image.src %}<meta property="og:image" content="{{ image.src | url | absoluteUrl(config.url) }}">{% endif %}
  {% if image.alt %}<meta property="og:image:alt" content="{{ image.alt }}">{% endif %}
{% endblock %}

{% block pageTitle %}
  {{- title if title -}}
  {{- " (page " + pageNumber + " of " + pageCount + ")" if pageCount > 1 -}}
  {{- " - " + config.header.productName if config.header.productName -}}
  {{- " - " + config.header.organisationName -}}
{% endblock %}

{% block header %}
  {{ appHeader(config.header) }}
{% endblock %}

{% block footer %}
  {{ appFooter(config.footer) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ '/assets/govuk.js' | url }}"></script>
  <script>
    document.documentElement.classList.remove('no-js')
    const searchContainer = document.querySelector('[data-module="app-search"]')
    new GOVUK11ty.SiteSearch(searchContainer).init()
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}
