{% extends "app/layouts/product.njk" %}

{% block main %}
  {{ xGovukMasthead({
    title: {
      html: title
    } if title,
    description: {
      html: description | markdown("inline") | noOrphans
    } if description,
    breadcrumbs: {
      classes: "govuk-!-display-none-print",
      items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | items
    }
  }) }}

  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}
      {{ content }}
      <div class="govuk-grid-row">
        <section class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-font-size-27">Posts</h2>
          {{ appDocumentList({
            items: pagination.items
          }) }}
          {{ appPagination({
            previous: {
              text: "Previous",
              href: pagination.href.previous
            } if pagination.href.previous,
            next: {
              text: 'Next',
              href: pagination.href.next
            } if pagination.href.next,
            selected: pagination.pageNumber,
            items: pagination.hrefs
          }) }}
        </section>

        {% if related.items | length > 0 %}
        <div class="govuk-grid-column-one-third">
          {{ appRelated({
            title: related.title or "Related links",
            items: related.items
          }) }}
        </div>
        {% endif %}
      </div>
    {% endblock %}
    </main>
  </div>
{% endblock %}
