{% extends "app/layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | items
  }) if eleventyNavigation.parent }}
{% endblock %}

{% block content %}
  {% call appArticle({
    header: {
      title: title,
      description: description
    }
  }) %}
    {{ content }}
  {% endcall %}

  {{ xGovukRelatedNavigation({
    sections: [{
      title: related.title or "Related links",
      items: related.items
    }]
  }) if related.items | length > 0 }}
{% endblock %}
