{% extends "app/layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | items
  }) if eleventyNavigation.parent }}
{% endblock %}

{% block content %}
  {% call appArticle({
    header: {
      title: title
    },
    footer: {
      date: page.date,
      modified: modified if modified,
      author: author if author
    }
  }) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appProse({
        prose: content
      }) }}
    </div>

    {% if related.items | length > 0 %}
    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: [{
          title: related.title or "Related links",
          items: related.items
        }]
      }) }}
    </div>
    {% endif %}
  </div>
  {% endcall %}
{% endblock %}
