{% extends "app/layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | items
  }) if eleventyNavigation.parent }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call appArticle({
        header: {
          title: title
        },
        footer: {
          date: date,
          modified: modified,
          author: author,
          authors: authors
        }
      }) %}
        {{ content }}
      {% endcall %}
    </div>

    {% if related.items | length > 0 %}
    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: [{
          title: related.title or "Related links",
          items: related.items
        }]
      }) }}
    </div>
    {% endif %}
  </div>
{% endblock %}
