{% extends "app/layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call appArticle({
        header: {
          title: title
        },
        footer: {
          date: date,
          modified: modified,
          author: author,
          authors: authors
        },
        image: image
      }) %}
        {{ content }}
      {% endcall %}
    </div>

    {% if related.sections[0].items | length > 0 %}
    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation(related) }}
    </div>
    {% endif %}
  </div>
{% endblock %}
