{% extends "app/layouts/base.njk" %}

{% block main %}
  {{ xGovukMasthead({
    classes: "x-govuk-masthead--large",
    title: {
      html: title
    } if title,
    description: {
      html: description | markdown("inline") | noOrphans
    } if description,
    startButton: startButton,
    image: {
      alt: image.alt,
      src: image.src | url
    } if image,
    breadcrumbs: {
      classes: "govuk-!-display-none-print",
      items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | itemsFromNavigation(page.url, config.pathPrefix)
    } if eleventyNavigation.parent and eleventyNavigation.parent != config.homeKey
  }) }}

  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}
      {{ content }}
    {% endblock %}
    </main>
  </div>
{% endblock %}
