{% extends "app/layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | itemsFromNavigation(page.url, config.pathPrefix)
  }) if eleventyNavigation.parent and eleventyNavigation.parent != config.homeKey }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {{ xGovukSideNavigation({
        items: collections.orderedNavigation | eleventyNavigation(config.homeKey) | itemsFromNavigation(page.url, config.pathPrefix)
      }) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% call appArticle({
        header: {
          title: title,
          description: description
        }
      }) %}
        {{ content }}
      {% endcall %}

      {{ xGovukRelatedNavigation({
        sections: [{
          title: related.title or "Related links",
          items: related.items
        }]
      }) if related.items | length > 0 }}
    </div>
  </div>
{% endblock %}
