{% extends "app/layouts/base.njk" %}

{% set breadcrumbItems = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: includeInBreadcrumbs }) | itemsFromNavigation(page.url, config) %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if breadcrumbItems | length > 1 }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {{ xGovukSideNavigation({
        items: collections.orderedNavigation | eleventyNavigation(config.homeKey) | itemsFromNavigation(page.url, config.pathPrefix)
      }) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% call appArticle({
        header: {
          title: title,
          description: description
        }
      }) %}
        {{ content }}
      {% endcall %}

      {{ xGovukRelatedNavigation(related) if related.sections[0].items | length > 0 }}
    </div>
  </div>
{% endblock %}
