{{ appAside(aside) if aside }}

{#- Related items may contain many sections or none -#}
{%- set sections = related.sections or [related] -%}
{{ xGovukRelatedNavigation({
  sections: sections
}) if related.sections or related.items | length > 0 }}
