@use "govuk-frontend/dist/govuk" as *;

.app-inset-text--tip {
  background-color: govuk-tint(govuk-colour("blue"), 90%);
  border-color: govuk-colour("blue");
}

.app-inset-text--important {
  background-color: govuk-tint(govuk-colour("bright-purple"), 85%);
  border-color: govuk-colour("bright-purple");
}

.app-inset-text--warning {
  background-color: govuk-tint(govuk-colour("yellow"), 75%);
  border-color: govuk-colour("brown");
}

.app-inset-text--caution {
  background-color: govuk-tint(govuk-colour("red"), 75%);
  border-color: govuk-colour("red");
}
