@use "govuk-frontend/dist/govuk" as *;

.app-inset-text--tip {
  background-color: govuk-colour("blue", "tint-80");
  border-color: govuk-colour("blue");
}

.app-inset-text--important {
  background-color: govuk-colour("purple", "tint-80");
  border-color: govuk-colour("purple");

  .govuk-link {
    color: govuk-colour("purple", "shade-50");
  }
}

.app-inset-text--warning {
  background-color: govuk-colour("yellow", $variant: "tint-80");
  border-color: govuk-colour("yellow", $variant: "shade-25");

  .govuk-link {
    color: govuk-colour("yellow", "shade-50");
  }
}

.app-inset-text--caution {
  background-color: govuk-colour("red", $variant: "tint-80");
  border-color: govuk-colour("red");

  .govuk-link {
    color: govuk-colour("red", "shade-50");
  }
}
