<app-search class="app-search govuk-!-display-none-print" index="{{ params.indexPath | canonicalUrl }}" label="{{ params.label | default("Search site") }}">
{%- if params.sitemapPath -%}
  <a class="app-search__link" href="{{ params.sitemapPath }}">Sitemap</a>
{%- endif -%}
</app-search>
