.app-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-gallery--layout-thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));
  grid-gap: govuk-spacing(6);

  .app-figure {
    @include govuk-responsive-margin(2, "bottom");

    a {
      display: block;
      min-height: 12rem;
    }

    img {
      max-height: 12rem;
      object-fit: cover;
      object-position: top;
    }
  }
}
