.app-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
  grid-gap: govuk-spacing(6);
  list-style: none;
  padding: 0;
  margin: 0;

  .app-figure {
    margin-bottom: 0;

    img {
      margin-bottom: 0;
      max-height: 12rem;
      object-fit: cover;
      object-position: top;
    }
  }
}
