<ul class="app-gallery">
{% for item in params.items %}
  {% set id = item.id or (item.text | slug) %}
  {% set file = item.img.src or (id + ".png") %}
  {% set alt = item.img.alt or ("Screenshot of " + item.text) %}
  <li class="app-gallery__item" id="{{ id }}">
    <figure class="app-gallery__figure">
      <a href="{{ params.path }}/{{ file }}">
        <img src="{{ params.path }}/{{ file }}" alt="{{ alt }}">
      </a>
      <figcaption>
        <p class="app-gallery__item-title">{{ item.text }}</h3>
        {% if item.description %}
        <p class="app-gallery__item-description">{{ item.description | markdown("inline") | safe }}</p>
        {% endif %}
      </figcaption>
    </figure>
  </li>
{% endfor %}
</ul>
