// Use GOV.UK Frontend
@use "pkg:govuk-frontend/dist/govuk" with (
  // pathPrefix gets prepended to assets path in `generate-govuk-assets.js`
  $govuk-assets-path: "/assets/",
  $govuk-global-styles: true
);

// Use GOV.UK Eleventy Plugin components
@forward "pkg:@x-govuk/govuk-eleventy-plugin";
