{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ appDocumentHeader({
      title: title or ("Posts tagged ‘" + tag + "’")
    }) }}

    {{ appDocumentList({
      headingLevel: 3 if paginationHeading else 2,
      classes: "app-document-list--large",
      items: collections[tag] | reverse
    }) }}
  </div>
</div>
{% endblock %}
