{% extends "layouts/base.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ appHeading({
      caption: caption or "Tags",
      title: title or ("Posts tagged ‘" + tag + "’")
    }) }}

    {{ appDocumentList({
      headingLevel: 3 if paginationHeading else 2,
      classes: "app-document-list--large",
      items: collections[tag] | reverse
    }) }}
  </div>
</div>
{% endblock %}
