{% extends "layouts/base.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ appHeading({
      caption: caption,
      title: title or "Tags",
      description: description
    }) }}

    {% if collections.tags | length > 0 %}
    <ul class="govuk-list govuk-list--bullet">
      {% for tag in collections.tags %}
      <li>
        <a class="govuk-link" href="{{ tag | slug }}">{{ tag }}</a>
        ({{ collections[tag] | length }})
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="govuk-body">No tags found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
