{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ appDocumentHeader({
      title: title or "Tags"
    }) }}

    <ul class="govuk-list govuk-list--bullet">
      {% for tag in collections.tags %}
      <li>
        <a href="/tags/{{ tag | slug }}">{{ tag }}</a>
        ({{ collections[tag] | length }})
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
