// Use GOV.UK Frontend
$_font-family: system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" as * with (
  $govuk-global-styles: true,
  $govuk-font-family: $_font-family,
  $govuk-functional-colours: (
    brand: #2288aa,
    link: #006688,
    link-hover: #004466,
    link-visited: #333366
  )
);

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

// Use responsive tables to show options
.app-prose-scope .govuk-table {
  @include govuk-media-query($until: "desktop") {
    display: block;

    .govuk-table__head {
      @include govuk-visually-hidden;
    }

    .govuk-table__body {
      display: flex;
      flex-direction: column;
    }

    .govuk-table__row {
      display: flex;
      flex-direction: column;
      margin-bottom: govuk-spacing(6);
    }

    .govuk-table__cell:first-child {
      @include govuk-font(24);
    }

    .govuk-table__body .govuk-table__cell::before {
      color: govuk-functional-colour(secondary-text);
      display: block;
      margin-bottom: govuk-spacing(1);
      @include govuk-font(16);
    }

    .govuk-table__cell:nth-child(1)::before {
      content: "Name";
    }

    .govuk-table__cell:nth-child(2)::before {
      content: "Type";
    }

    .govuk-table__cell:nth-child(3)::before {
      content: "Description";
    }
  }

  @include govuk-media-query($from: "desktop") {
    // stylelint-disable-next-line
    display: table !important;

    .govuk-table__header:nth-child(1) {
      width: 30%;
    }

    .govuk-table__header:nth-child(2) {
      width: 15%;
    }
  }

  .govuk-table__cell:first-child {
    font-weight: bold;
  }
}
